.wrapper {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin-top: 25px;
    display: block;
    justify-content: center;
    background-color: #e7e7e7;
}

.titleArea {
    display: flex;
    justify-content: space-between
}

.openBtn {
    border: none;
    border-radius: 25%;
    background-color: #B88E2F;
    width: 32px;
    height: 32px;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.openBtnIcon {
    color: #000;
    width: 32px;
    height: 32px;
}

.active {
    transform: rotate(180deg);
    color: #000;
}

.list {
    list-style: none;
    padding: 0;
}

.item {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.item:nth-child(n + 2) {
    margin-top: 10px;
}

.item:last-child() {
    margin-bottom: 10px;
}

.price {
    display: flex;
}

.buttons {
    margin-left: auto;
}

.editBtn {
    max-width: 70px;
    background:#B88E2F;
    padding: 2px 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.editBtn:nth-child(n + 2) {
    margin-left: 10px;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.formItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 5px;
    background-color: #ffffff;
}

.formItem:nth-child(n + 2) {
    margin-top: 10px;
}

.formItem:hover,
.formItem:focus {
    outline: 2px solid #f1be44;
}

.field {
    border: none;
    background-color: transparent;
}

.field:hover,
.field:focus {
    outline: none;
}

.inputArray:nth-child(n+2) {
    margin-top: 10px;
}

.btn {
    background:#B88E2F;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    min-width: 45%;
}

.delBtn {
    background: #db4d15;
}

.btn:nth-child(n + 2) {
    margin-left: 20px;
}