.wrapper {
    width: 100%;
    min-height: 335px;
    position: relative;
    border-radius: 8px;
}

.title {
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    top: auto;
    left: 10px;
    right: auto;
    color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .wrapper {
        min-height: 355px;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        min-height: 300px;
    }
}