<section class="container">
  <div class="header-container">
    <div class="logo">
      <a href="#">
        <img class="logo" src="./images/logo-black.png" alt="Misage logo">
      </a>
    </div>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-item-link" href="./index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="#">Contacts</a>
      </li>
    </ul>
    <button type="button" class="mob-menu-btn"></button>
  </div>
  <div class="mobile-menu">
      <button class="mob-menu-btn-close" type="button">
        <svg class="mob-menu-close" width="32" height="32">
          <use class="mob-menu-close-icon" href="./images/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <ul class="mob-menu-list">
        <li><a class="header-list-item" href="./index.html">Home</a></li>
      </ul>
    </div>
</section>