<section class="container">
    <div class="hero-title-area">
        <h1 class="hero-title">We
            <span>
                <img class="title-image" width="52%" height="13%" src="./images/title-image-first.jpg"/>
            </span>create furniture
            <span>
                <img class="title-image" width="51%" height="13%" src="./images/title-image-second.jpg"/>
            </span>for your
            <span>
                <img class="title-image" width="27%" height="13%" src="./images/title-image-third.jpg"/>
            </span>home and
            <span>
                <img class="title-image" width="10%" height="13%" src="./images/title-image-fourth.jpg"/>
            </span>business
            <button type="button" class="title-button">Browse</button>
        </h1>
    </div>
</section>