.section {
    width: 100%;
}

.title {
    font-weight: 400;
    font-size: 42px;
    color: #000;
    text-align: center;
}

.image {
    width: 90%;
}

.baseInfoTitle {
    font-size: 20px;
    color: #9f9f9f;
}

.baseInfoTitle:nth-child(n + 2) {
    margin-top: 15px;
}

.price {
    font-size: 25px;
    font-weight: 600;
}