.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .mobileWrapper {
    flex-direction: column;
  }
  
  .username {
    font-weight: 700;
  }

  .propMob {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 30px;
    bottom: 75px;
    z-index: 2;
  }

  .prop {
    display: flex;
  }

  .mobileMenuLinks {
    display: flex;
    flex-direction: column;
  }
  
  .link {
    display: inline-block;
    text-decoration: none;
    padding: 15px 15px 0 15px;
    font-weight: 700;
    color: #2a363b;
  }